# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=PTCL Core
Comment=PTCL Core QT test network
GenericName=PTCL Digital Currency QT client testnet network
Exec=ptclcoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ptclcoin_testnet.png
MimeType=x-scheme-handler/bib;
Categories=X-Office;X-Finance;
Keywords=internet;ptclcoin;tbib;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
